:root {
  --bg: #f5f7fa;
  --text: #1f2937;
  --card: #ffffff;
  --primary: #2563eb;
}

body.dark {
  --bg: #0f172a;
  --text: #e5e7eb;
  --card: #020617;
}

* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  margin: 0;
  background: var(--bg);
  color: var(--text);
  transition: 0.3s;
}

/* HEADER */
.top-header {
  position: sticky;
  top: 0;
  z-index: 100;
  background: var(--card);
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 5px 30px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: bold;
  transition: transform 0.3s ease;
}

.logo:hover {
  transform: scale(1.2);
}

.logo img {
  max-width: 116px;
  width: 100%;
  height: auto;
  background-color: #1f2937;
  padding: 2px;
  border-radius: 6px;
  
}

/* DARK MODE BUTTON */
.dark-btn {
  background: transparent;
  border: none;
  font-size: 1.3rem;
  cursor: pointer;
  color: var(--text);
}

/* HERO */
.hero {
  padding: 0 20px;
  text-align: center;
}

.hero h1 {
  font-size: 2rem;
  margin: 2px 0 10px 0;
}

.hero p {
  opacity: 0.8;
  margin: 0;
}

.btn {
  margin-top: 20px;
  background: var(--primary);
  color: white;
  border: none;
  padding: 12px 25px;
  border-radius: 30px;
  cursor: pointer;
}

/* LAYOUT */
.container {
  max-width: 1000px;
  margin: auto;
  padding: 20px;
}

.card {
  background: var(--primary);
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

iframe {
  width: 100%;
  height: 600px;
  border-radius: 10px;
  border: none;
}

/* FOOTER */
.footer {
  box-shadow: 0 -4px 12px rgba(0, 0, 0, 0.15);
  text-align: center;
  background: var(--card);
  font-size: 0.9rem;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.footer a {
  color: var(--primary);
  text-decoration: none;
  font-weight: bold;
}

@media (max-width: 768px) {
  .logo img {
    max-width: 80px;
  }

  .container {
    padding: 5px 0 55px 0;
  }
}